@import '../../../styles/settings.scss';

.root {
  padding-bottom: 50px;
  .emptyCart {
    text-align: center;
    justify-content: center;

    .btn {
      color: white;
    }
  }

  .center {
    text-align: center;
  }

  .checkout {
    .btn {
      width: 100%;
    }

    .txtAlignEnd {
      text-align: end;
    }
  }

  .alignCenter {
    align-self: center;
  }
}
